doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title SIC Intertrashional Zine

  script(src='https://use.typekit.net/fll2dad.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}

  link(href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css')
  link(rel='stylesheet', href='css/tufte.css')
  link(rel='stylesheet', href='css/main.css') 
  
  body
    != yield
