article
  section
    figure
      img(src="img/sic03.jpg")
    figure
      img(src="img/sic03-performance.jpg")
   


  section
  
    p SIC Intertrashional Zine is a mostly black and white A4, 32 page publication featuring writers and artists. Each artist/writer is given an A4 page. SIC is uncorrected. We publish things as we receive them, with no edits. SIC is distributed at the launch. The launch has performances by some of the contributors and a party. The performances are an extension of the theme of the issue.
             
    p Issue #3 RACE is edited by Brud and Bea McMahon. The first launch will be at <a href=".http://www.stichtingflat.nl/">FLATSTATION</a> in Amsterdam 23rd January 2016 and then at <a href="http://abcd.efg.hijk.lmnop.lmnopq.rst.uvuu.xyz/">Rzeznia</a> in Warsaw March 2016. 
    
    p When choosing a topic such as contemporary race relations what we felt we needed is some evident legitimacy, self regulation of our performances and a goal of some serious-minded commitment to the issue. 

    p The irony of goals, is that they lose concreteness as one gets closer to them, but are superbly visible from a distance.

    p Like a when William Pope.L says “Be African American. Be very African American”. Yes.

    p To be professional and have a code of practice. Yes.

    p Bea is positively pink and has a liberal self-image. Yes.

    p Brud's modus operandi is to be a gentle ooze enveloping everything in its path in a loving embrace. "benevolent dictators for life". Yes

    p And so we begin the count.


    p At the launch we will be counting Dunbar’s number which is a suggested cognitive limit to the number of people with whom one can maintain stable social relationships. First proposed in the 1990s by British anthropologist Robin Dunbar, he found a correlation between primate brain size and average social group size. By using the average human brain size and extrapolating from the results of primates, he proposed that humans can only comfortably maintain 150 stable relationships.

    p 150 people a photograph and a rumour.


    p Universalisms, yes. We now have made a common system for everybody in which most people can only participate in the mode of non-comprehension. Rumour has it that the knowing attack the not-yet knowing and so there will be victims and perpetrators. The victims are required by the perpetrators to tell their stories. Not everyone who suffers these injustices is in a position to gain satisfaction by their own actions, and so a large part of the retributive energy will be passed upwards to be managed by the divine editorial team. 


    p Rosetta is in the universe


  section
    figure
      img(src="img/sic01.jpg")
    figure
      img(src="img/sic02.jpg")

    figure
      img(src="img/sic03-03.jpg")
    
  section    
    p (The first issue of SIC, SEX, was the moment at which conception took place. Edited by Vaari Claffey and Bea McMahon. For the second issue we enlisted the help of a number of artists, writers and curators to populate the zine with a cast of characters who will carry our story forward. These characters may appear just for this issue or they may involve themselves in future production.  We anticipate that they will be joined by others as things develop.  The frequency of their appearance is unpredictable and will depend on variously urgent forces from both inside and outside. They will have a variety of functions, organisational (the non-contributing editor), narrative (the wrestler), practical (Patricia), critical (faints-at-art) and structural (balconies). For now they are simply assembling, they have neither issued instructions nor made any moves.  They don’t even know each other yet.)
      


    p SIC #3 Race edited by Bea McMahon and Brud

    p With contributions by Sam Basu, Ada Pola, Vorthuys Daniel, Olivia Dunbar, Petra Ponte, Antonio Vega Macotela, Dennis McNulty, Heisue Chung, Geo Wyeth, Jay Tan, Venuri Perera, Rumiko Hagiwara, Mr Happy Birthday, Müge Yılmaz, Jaki Irvine, Lu Yang, Goeun Bae

    p SIC #2 The Characters edited by Bea McMahon and Vaari Claffey

    p With contributions by Deniz Buga, Vaari Claffey, Pawel Kruk, Quynh Dong, Anna Barham, Bedwyr Williams, Francis McKee,  Aleana Egan, Tilo Schulz, Brian Griffiths, Chris Fite-Wassilak, Jacob Wren, Dina Danish, Roderick Hietbrink, Ferhat  Özgür, Isla Leaver-Yap and Seamus Nolan.

    p SIC #1 SEX is edited  Bea McMahon and Vaari Claffey
    p With contributions by Mehraneh Atashi, Maria Barnas, Michelle Doyle, Karishma d'Souza, Geoffrey Farmer, Maria Fusco, Indigenous Genitalman, Sigurdur Gudmundsson, Celia Hempton, Jean Hubert, Jesse Jones, Philipp Kremer, Bea McMahon, Isabel Nolan/Francis Halsall, Femmy Otten, Nicoline Timmer, Jacob Voorthuis, Dan Walwin, Davied Wheatley, Mick Wilson

    

  form(action="https://tinyletter.com/siczine" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/siczine', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
  
    p
      input(type="text" style="width:200px" name="email" id="tlemail" value="Enter Your Email Address") 
      input(type="hidden" value="1" name="embed")
      input(type="submit" value="Join the List")

         

      

      